/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/02/2018, 21:51:28
    Author     : Lucas
*/

body {
    /*background-image: url("../imagens/Renees_Royal_Valet_Concert.jpg");
    background-repeat: no-repeat;*/
    background-position: top;
    padding-top: 10px;
}
.titulo {
    background-color: white;
    border-radius: 10px;
}
.titulo h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 5px 0px;
    font-family: 'Patua One', cursive;
}
.descricao {
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
}
.descricao p{
    font-size: 15px;

}
.cab {
    margin-bottom: 20px;
}